/resources/docs
/resources/www/node_modules
/node_modules
/public/hot
/public/mix-manifest.json
/public/uploads
/public/css
/public/js
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.php-cs-fixer.cache
/.idea
