body {
    @apply dark:text-white;

    font-size: 17px;
    scroll-behavior: smooth;

    background-image:
        url(../img/bg-head-opacity.webp),
        url(../img/pattern.svg);
    background-repeat: no-repeat, repeat;
    background-position: left -350px, 10px 10px;
    background-size: auto auto, 30px 30px;
}

.bg-pattern {
    background-image:
        url(../img/bg-head-opacity.webp),
        url(../img/pattern.svg);
    background-repeat: no-repeat, repeat;
    background-position: center -350px, 10px 10px;
    background-size: auto auto, 30px 30px;
}

a {
    @apply font-medium text-purple-600 no-underline dark:text-white;

    &:hover {
        @apply text-purple-800 dark:text-white;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mt-8 text-gray-900 dark:text-white mb-4 leading-tight;

    &:first-child {
        @apply mt-0;
    }
}

h1 {
    @apply font-extrabold text-5xl;
}

h2 {
    @apply font-bold text-4xl;
}

h3 {
    @apply font-bold text-3xl;
}

h4 {
    @apply font-normal text-2xl;
}

h5 {
    @apply font-normal text-xl;
}

h6 {
    @apply font-light text-lg;
}

hr {
    @apply border-b border-cyan-200 dark:border-pink-300 my-12 rounded-full;
}

li {
    ul,
    ol {
        @apply my-0;
    }
}

ol,
ul {
    @apply my-4;
}

ol {
    @apply list-decimal;
    padding-inline-start: 0.3rem;
}

ul {
    @apply list-disc;
}

p {
    @apply my-3;

    @screen md {
        @apply my-6;
    }
}

table {
    @apply w-full max-w-2xl divide-y divide-white/30;

    tbody {
        @apply divide-y divide-white/30;
    }

    th, td {
        @apply text-left py-3 px-2 text-xs sm:text-sm;

        &:first-child {
            @apply pl-0;
        }

        &:last-child {
            @apply pr-0;
        }
    }

    th {
        @apply font-semibold;
    }
}

::selection {
    @apply bg-purple-500 text-white;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    @apply dark:bg-gray-600 bg-gray-400;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
}
