body {
    @apply dark:text-white;
    font-size: 17px;
    scroll-behavior: smooth;

    background-image:
        url(../img/bg-head-opacity.webp),
        url(/www/assets/pattern.svg);
    background-repeat: no-repeat, repeat;
    background-position: center -350px, 10px 10px;
    background-size: auto auto, 30px 30px;
}

a {
    @apply font-medium text-purple-600 no-underline dark:text-white;

    &:hover {
        @apply text-purple-800 dark:text-white;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mt-8 text-gray-900 dark:text-white mb-4 leading-tight;

    &:first-child {
        @apply mt-0;
    }
}

h1 {
    @apply font-extrabold text-5xl;
}

h2 {
    @apply font-bold text-4xl;
}

h3 {
    @apply font-bold text-3xl;
}

h4 {
    @apply font-normal text-2xl;
}

h5 {
    @apply font-normal text-xl;
}

h6 {
    @apply font-light text-lg;
}

hr {
    @apply border-b border-purple-200 my-12 rounded-full;
}

li {
    ul,
    ol {
        @apply my-0;
    }
}

ol,
ul {
    @apply my-4;
}

ol {
    @apply list-decimal;
    padding-inline-start: 0.3rem;
}

ul {
    @apply list-disc;
}

p {
    @apply my-3;

    @screen md {
        @apply my-6;
    }
}

.DocSearch-Button {
    @apply rounded #{!important};

    @apply border border-solid border-gray-200 dark:border-white/10 dark:bg-black/10 flex items-center;

    &:hover {
        box-shadow: none;
        @apply text-gray-400 border-gray-300 dark:bg-transparent dark:border-white/20;
    }
}

.DocSearch-Button .DocSearch-Search-Icon {
    height: 0.87rem;
    @apply text-gray-500 dark:text-white/60;
}

.DocSearch-Button-Placeholder {
    @apply dark:text-white/60 pr-56 text-xs;
}

.DocSearch-Button-Keys {
    display: flex;
    min-width: auto;

    @apply mt-1 text-xs leading-none;
}

.DocSearch-Button-Key {
    background: none;
    box-shadow: none;
    width: auto;

    @apply font-sans mr-0.5;
}


::selection {
    @apply bg-purple-500 text-white;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    @apply dark:bg-gray-600 bg-gray-400;
}

.scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-500;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
}
