p, li {
    code {
        border-radius: 3px;
        padding: 1px 5px;

        @apply bg-black/90 text-white dark:bg-black/50;
    }
}

pre {
    @apply flex rounded-lg;

    .copyBtn {
        @apply absolute right-0 h-6 w-6 outline-none text-gray-700;

        &:hover, &:focus, &:active {
            @apply text-white;
        }

        svg {
            @apply absolute top-0 right-0 mr-4 mt-5;
        }
    }

    code {
        @apply flex flex-1 rounded-lg;
        @apply bg-black/90 text-white dark:bg-black/50 #{!important};

        font-size: 0.9em;
        line-height: 2;
        font-family: Menlo,ui-monospace,SFMono-Regular,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    }

    code.torchlight {
        @apply block py-4 pr-4 overflow-x-auto scrollbar:h-1 scrollbar-track:bg-gray-800 scrollbar-thumb:rounded scrollbar-thumb:bg-gray-500 hover:scrollbar-thumb:bg-gray-400;
    }

    code.torchlight .line {
        &:before {
            content: '  ';
        }

        &:after {
            content: '  ';
        }
    }

    code.torchlight .line-number, code.torchlight .summary-caret {
        @apply mr-4;
    }

    code.torchlight .line-number {
        @apply hidden;
    }

    @screen md {
        code.torchlight {
            @apply overflow-x-auto;
        }
    }
}
