.docs-main {
    a {
        @apply text-pink-500 underline dark:text-cyan-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply break-words;

        a {
            @apply text-gray-900 dark:text-white;

            &.heading-permalink {
                @apply text-gray-900 dark:text-gray-500 no-underline;
            }
        }
    }

    h1 {
        @apply mt-0;
    }

    h1 a.heading-permalink {
        @apply hidden;
    }

    h2 {
        @apply font-bold text-4xl flex items-baseline;

        a.heading-permalink {
            @apply opacity-0;

            position: absolute;
            font-weight: 400;
            margin-left: -27px;
            padding-right: 10px;
            font-size: 32px;
            text-decoration: none;

            &:hover {
                @apply opacity-100;
            }
        }

        &:hover a.heading-permalink {
            @apply opacity-100;
        }
    }

    h3 {
        @apply font-medium text-3xl flex items-baseline;

        a.heading-permalink {
            @apply opacity-0;

            position: absolute;
            font-weight: 400;
            margin-left: -27px;
            padding-right: 10px;
            font-size: 28px;
            text-decoration: none;

            &:hover {
                @apply opacity-100;
            }
        }

        &:hover a.heading-permalink {
            @apply opacity-100;
        }
    }

    blockquote {
        @apply border-cyan-500 dark:border-pink-500 border-l-4 font-normal my-8 pl-3 text-gray-800 dark:text-white text-lg;
    }

    p {
        @apply my-2 break-words;

        @screen md {
            @apply my-5;
        }
    }

    .collection-method-list {
        ul {
            @apply list-none;
            column-count: 1;

            @screen lg {
                column-count: 2;
                column-gap: 0.5em;
            }

            li a {
                @apply block no-underline;

                code {
                    border-radius: 3px;
                    padding: 1px 5px;

                    @apply bg-black/50;
                }
            }
        }
    }

    .content-list ul {
        @apply list-none;
    }

    .content-list ul li:before, .content-list ul:not(:first-of-type) li:before {
        content: "◯";
        position: absolute;
        font-size: 10px;
        margin-top: .6em;
        margin-left: -25px;
    }

    ol, ul {
        @apply list-inside;
        li {
            p {
                @apply inline-block;
            }
        }
    }

    h1 + ul, #toc ul {
        @apply m-0 p-0 mb-16;

        li {
            @apply block mb-2;

            a {
                @apply relative text-gray-600 dark:text-white no-underline font-medium #{!important};
                font-size: .89em;

                &::before {
                    content: "- ";
                }
            }
        }

        ul {
            @apply p-0 mb-0 mt-2;

            li {
                @apply pl-6;

                a {
                    @apply font-normal no-underline #{!important};
                }
            }
        }
    }

    iframe {
        max-width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
    }

    pre + .code-snippet {
        @apply mt-4;
    }

    .code-snippet {
        @apply block flex-1 rounded-lg py-6 bg-black/90 text-white dark:bg-black/50 overflow-x-auto scrollbar:h-1 scrollbar-track:bg-gray-800 scrollbar-thumb:rounded scrollbar-thumb:bg-gray-500 hover:scrollbar-thumb:bg-gray-400;

        img {
            --line-height: 29.6px;
            max-width: inherit;
            height: calc(var(--line-height) * var(--lines));
            @apply px-5;
        }
    }
}
