@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import 'highlight.js/styles/a11y-light.css';

@import '@docsearch/css/dist/style.css';

@import 'base';
@import 'code';
@import 'navigation';
@import 'documentation';

[x-cloak] {
    display: none !important;
}